.game {
	width: 1100px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
}

.welcome, .endGame {
	text-align: center;
	display: block;
	margin: auto;
	width: 40%;
}

#startButton {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto; 
}

#timer {
	position: absolute;
	margin-left: 10px;
}

#progressBar {
	float: right;
	width: 80%;
}

body {
	background-color: black;
	color: white;
}

.circle {
	border: 1px solid;
	border-radius: 50%;
	margin: 10px;
	width: 200px;
	height: 200px;
}

.activeCircle {
	background-color: green;
	border-color: green;
}

.inactiveCircle {
	background-color: black;
	/* border-color: white; */
}